/* ==========================================
              Google Fonts
=========================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* ==========================================
              Global CSS
=========================================== */
* {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  border: none;
  margin: 0;
}

:root {
  --bg-color: #c4669a;
  --second-bg-color: #c4669a24;
  --main-color: #c4669a;
  --text-color: #403d42d2;
  --transition: all 0.4s ease-in;
}



html {
  font-size: 15.5px;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  background-color: #f0f0f0;
  background-image: url('image/background.jpg');
  background-attachment: fixed;
}

section {
  min-height: 100vh;
  min-width: 100%;
  padding: 7rem 9% 2rem;
}

/* ==========================================
              Header
=========================================== */
.header {
  display: flex;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
  z-index: 100;
  left: 0;
  background: var(--bg-color);
  position: fixed;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2rem;
  cursor: default;
  font-weight: 600;
  color: var(--text-color);
}

/* ==========================================
              Navbar
=========================================== */
.navbar a {
  color: var(--text-color);
  font-size: 1.1rem;
  margin-left: 3.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navbar a.active,
.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  color: var(--text-color);
  font-size: 2rem;
  display: none;
}

/* ==========================================
              Home
=========================================== */
.home {
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.home-img {
  z-index: -1;
  margin-right: -5rem;
  margin-top: 5rem;
}

.home-img img {
  animation: floatImage 4s ease-in-out infinite;
  width: 40vw;
  -webkit-animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2.4rem);
    transform: translateY(-2.4rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.home-content {
  width: 90%;
  margin-top: -10rem;
}

.home-content h3 {
  font-weight: 700;
  font-size: 3rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 4rem;
  color: var(--main-color);
  font-weight: 700;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  background: var(--main-color);
  padding: 0.8rem 2.8rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  color: var(--second-bg-color);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

/* ==========================================
              About
=========================================== */
.about {
  align-items: center;
  background: var(--second-bg-color);
  gap: 2rem;
  justify-content: center;
  display: flex;
}

.about-img img {
  width: 34vw;
}

.heading {
  font-size: 3.5rem;
  text-align: center;
}

.about-content h2 {
  line-height: 1.2;
  text-align: left;
}

.about-content h3 {
  font-size: 2.1rem;
}

.about-content p {
  margin: 2rem 0 3rem;
  font-size: 1.1rem;
}

/* ==========================================
              Contact
=========================================== */
.contact h2 {
  margin-bottom: 5rem;
}

.contact .heading {
  margin: 0;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 12rem; 
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem; 
  height: 5rem; 
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem; 
  color: var(--main-color);
  margin: 1rem 1.5rem 2.0rem 0;
  transition: 0.3s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.contact form {
  margin-bottom: 3rem;
  max-width: 45rem;
  margin: 1rem auto;
  text-align: center;
}

.contact form .input-box {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  font-size: 0.9rem;
  color: var(--text-color);
  padding: 0.9rem;
  margin: 0.4rem 0;
  background: var(--second-bg-color);
  border-radius: 0.5rem;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  cursor: pointer;
  margin-top: 1rem;
}

/* ==========================================
              Footer
=========================================== */
footer {
  padding-bottom: 1rem; 
  margin-top: 0.1rem;  
  text-align: center;
}




.footer-text p {
  margin-bottom: 3rem; 
  text-align: center; 
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
  color: var(--text-color);
  background: var(--second-bg-color);
}


.footer-iconTop a {
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border-radius: 0.5rem;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 1.5rem;
  color: var(--second-bg-color);
}
